body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/bg\ foto.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  /* Fotos */

  .navbar img {
    height: 40px;
    width: 40px;
  }
  
  img {
    height: 300px;
    width: 500px;
    object-fit: contain;
  
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }